<ion-header>
  <ion-navbar>
    <button ion-button menuToggle id="navIcon">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><p id="navTitle">Notations</p></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="shadow contentContainer contentGap">
        <div class="headerDiv headerDivOrange">
            <h2 class="headersText">Table Headers</h2>
        </div>
        <ion-row>
        <ion-col class="leftCol"><div class="subHeaderContainer">Move</div></ion-col>
        <ion-col><p>English <strong>name</strong> of the move.</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">Command</div></ion-col>
            <ion-col><p><strong>Input</strong> to execute move</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">Level</div></ion-col>
            <ion-col><p>Describes the <strong>height level</strong> of the move</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">IMP</div></ion-col>
            <ion-col><p>Amount of frames it takes for the move to <strong>impact</strong></p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">GRD</div></ion-col>
            <ion-col><p>How many frames you will be in advantage or disadvantage if this move is <strong>blocked</strong></p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">Hit</div></ion-col>
            <ion-col><p>How many frames you will be in advantage or disadvantage if this move <strong>hits</strong></p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">CH</div></ion-col>
            <ion-col><p>How many frames you will be in advantage or disadvantage when landing a <strong>Counter Hit</strong></p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">DMG</div></ion-col>
            <ion-col><p><strong>Damage</strong> that will be dealt on hit</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">Attr</div></ion-col>
            <ion-col><p><strong>Attributes</strong> and special properties of the move</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">Notes</div></ion-col>
            <ion-col><p>Additional <strong>Notes</strong></p></ion-col>
        </ion-row>
    </div>


    <div class="shadow contentContainer contentGap">
        <div class="headerDiv headerDivPurple">
            <h2 class="headersText">Command Notations</h2>
        </div>

        <ion-row *ngFor="let notation of inputNotations">
            <ion-col class="leftCol"><img class="notationImage horizontalAlign" [src]="notation.imageLink"></ion-col>
            <ion-col><p [innerHTML]="notation.text"></p></ion-col>
        </ion-row>
  </div>

    <div class="shadow contentContainer contentGap">
        <div class="headerDiv headerDivRed">
            <h2 class="headersText">Property Notations</h2>
        </div>

        <ion-row *ngFor="let notation of propertyNotations">
            <ion-col class="leftCol"><img class="notationImage horizontalAlign" [src]="notation.imageLink"></ion-col>
            <ion-col><p [innerHTML]="notation.text"></p></ion-col>
        </ion-row>
    </div>

    <div class="shadow contentContainer contentGap">
        <div class="headerDiv headerDivOrange">
            <h2 class="headersText">Abbreviations</h2>
        </div>
        <ion-row>
        <ion-col class="leftCol"><div class="subHeaderContainer">STN</div></ion-col>
        <ion-col><p>Stun</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">KND</div></ion-col>
            <ion-col><p>Knockdown</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">LNC</div></ion-col>
            <ion-col><p>Launch</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="leftCol"><div class="subHeaderContainer">SLNC</div></ion-col>
            <ion-col><p>Special Launch</p></ion-col>
        </ion-row>
    </div>

</ion-content>