<ion-header>

  <ion-navbar>
    <ion-title><p id="navTitle">SC6 Sophitia</p></ion-title>
    <ion-icon name="help-circle" class="helpIcon" (click)="goToOtherPageNotations()"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content has-bouncing="true">
  <ion-scroll scrollX="true" scrollY="true" class="scrollContainer">
    <ion-row nowrap class="headerRow shadow">
      <ion-col class="sheetColumn wideCol">
        <div>Move</div>
      </ion-col>
      <ion-col class="sheetColumn wideCol">
          <div>Command</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div>Level</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div>DMG</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div>GRD</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div>Hit</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div>CH</div>
      </ion-col>
      <ion-col class="sheetColumn wideCol">
          <div>Notes</div>
      </ion-col>
    </ion-row>

    <ion-row nowrap class="spreadGap">
        <div>
            <p class="gapHeader">Horizontal Moves</p>
        </div>
    </ion-row>

    <ion-row class="sheetRow" nowrap *ngFor="let horMove of horMoves">
      <ion-col class="sheetColumn wideCol">
        <div>{{horMove.move}}</div>
      </ion-col>
      <ion-col class="sheetColumn wideCol">
          <div class="command">{{horMove.command}}</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div>{{horMove.level}}</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div>{{horMove.dmg}}</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div class="targetNum">{{horMove.grd}}</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div class="targetNum">{{horMove.hit}}</div>
      </ion-col>
      <ion-col class="sheetColumn narrowCol">
          <div class="targetNum">{{horMove.ch}}</div>
      </ion-col>
      <ion-col class="sheetColumn wideCol">
          <div>{{horMove.notes}}</div>
      </ion-col>
    </ion-row>

    <ion-row nowrap class="spreadGap">
        <div>
            <p class="gapHeader">Vertical Moves</p>
        </div>
    </ion-row>

    <ion-row class="sheetRow" nowrap *ngFor="let verMove of verMoves">
        <ion-col class="sheetColumn wideCol">
            <div>{{verMove.move}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div class="command">{{verMove.command}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{verMove.level}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{verMove.dmg}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{verMove.grd}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{verMove.hit}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{verMove.ch}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div>{{verMove.notes}}</div>
        </ion-col>
    </ion-row>
    
    <ion-row nowrap class="spreadGap">
        <div>
            <p class="gapHeader">Kick Moves</p>
        </div>
    </ion-row>

    <ion-row class="sheetRow" nowrap *ngFor="let kickMove of kickMoves">
        <ion-col class="sheetColumn wideCol">
            <div>{{kickMove.move}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div class="command">{{kickMove.command}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{kickMove.level}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{kickMove.dmg}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{kickMove.grd}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{kickMove.hit}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{kickMove.ch}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div>{{kickMove.notes}}</div>
        </ion-col>
    </ion-row>

    <ion-row nowrap class="spreadGap">
        <div>
            <p class="gapHeader">Simultaneous Press Moves</p>
        </div>
    </ion-row>

    <ion-row class="sheetRow" nowrap *ngFor="let simMove of simPressMoves">
        <ion-col class="sheetColumn wideCol">
            <div>{{simMove.move}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div class="command">{{simMove.command}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{simMove.level}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{simMove.dmg}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{simMove.grd}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{simMove.hit}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{simMove.ch}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div>{{simMove.notes}}</div>
        </ion-col>
    </ion-row>

    <ion-row nowrap class="spreadGap">
        <div>
            <p class="gapHeader">8-Way Run Moves</p>
        </div>
    </ion-row>

    <ion-row class="sheetRow" nowrap *ngFor="let eightWayMove of eightWayMoves">
        <ion-col class="sheetColumn wideCol">
            <div>{{eightWayMove.move}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div class="command">{{eightWayMove.command}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{eightWayMove.level}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{eightWayMove.dmg}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{eightWayMove.grd}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{eightWayMove.hit}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{eightWayMove.ch}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div>{{eightWayMove.notes}}</div>
        </ion-col>
    </ion-row>

    <ion-row nowrap class="spreadGap">
        <div>
            <p class="gapHeader">Angel Step</p>
        </div>
    </ion-row>

    <ion-row class="sheetRow" nowrap *ngFor="let asStanceMove of asStanceMoves">
        <ion-col class="sheetColumn wideCol">
            <div>{{asStanceMove.move}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div class="command">{{asStanceMove.command}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{asStanceMove.level}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{asStanceMove.dmg}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{asStanceMove.grd}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{asStanceMove.hit}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{asStanceMove.ch}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div>{{asStanceMove.notes}}</div>
        </ion-col>
    </ion-row>

    <ion-row nowrap class="spreadGap">
        <div>
            <p class="gapHeader">Angel Side Step</p>
        </div>
    </ion-row>

    <ion-row class="sheetRow" nowrap *ngFor="let assStanceMove of assStanceMoves">
        <ion-col class="sheetColumn wideCol">
            <div>{{assStanceMove.move}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div class="command">{{assStanceMove.command}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{assStanceMove.level}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div>{{assStanceMove.dmg}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{assStanceMove.grd}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{assStanceMove.hit}}</div>
        </ion-col>
        <ion-col class="sheetColumn narrowCol">
            <div class="targetNum">{{assStanceMove.ch}}</div>
        </ion-col>
        <ion-col class="sheetColumn wideCol">
            <div>{{assStanceMove.notes}}</div>
        </ion-col>
    </ion-row>

  </ion-scroll>
</ion-content>