// Global SASS Styles

.toolbar-background {
    background: linear-gradient(to bottom right, #262141, #1e395e);
}

#navTitle{
    font-weight: 700;
    color: white;
    margin: 0;
}

#navIcon{
    color: white;
}

ion-header ion-icon.back-button-icon.icon {
    color: white;
}

.menuTitle{
    font-weight: 700;
    color: white;
    margin: 0;
}

#filtersTitle{
    float: left;
    line-height: 2.2;
}

.filterNumTitle{
    float: left;
    font-weight: 700 !important;
    margin: 7px 0 0 55px !important;
}

.filterTopButton{
    float: right;
}

.filterHeader{
    color: white;
    text-align: center;
    font-weight: 800;
}

.dummyFilter{
    background-color: #FFE2E2AA;
}

.navBarIcon{
    position: absolute;
    color: white;
    font-size: 30px
}

#navHelpIcon{
    right: 20px;
    top: 13px;
}

#navFunnelIcon{
    right: 60px;
    top: 13px;
}

.filterMenuIcon{
    float: right;
    margin-right: 5px;
}

ion-content{
    background: linear-gradient(to bottom right, #1e395e, #d9c471);
}

#pageHeader{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.contentContainer{
    background-color: white;
    width: 100%;
    border-radius: 10px; 
    padding: 15px 10px;
    margin: auto;
}

.charContainer{
    width: 120px;
    height: 120px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto 0 auto;
}

.charHeader{
    font-weight: 600;
    font-size: 15px;
    padding-top: 5px;
    margin: 0 0 10px 0;
}

.cardImage{
    width: 70%;
}

.shadow {
    box-shadow: 0 0 30px 3px black;
}

.scrollContainer{
    height: 100%;
}

.headerRow{
    position: sticky;
    top: 0px;
    font-weight: 700;
    line-height: 30px;
    z-index: 2;
    min-width: 890px;
}

.sheetRow:nth-of-type(odd) ion-col{
    background: rgb(44, 44, 44);
}

.spreadGap{
    color: White;
    padding-left: 10px;
}

.gapHeader{
    margin: 8px 0 8px 0;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px black;
}

.gapHeaderStance{
    color: #84b2ff;
}

.sheetColumn{
    background: rgb(32, 32, 32);
    color: white;
    text-align: center;
}

.wideCol{
    min-width: 180px;
}

.narrowCol{
    min-width: 50px;
}

ion-col div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inputImg{
    height: 20px;
    margin: 0 2px;
}

.inputImgWide{
    width: 27px;
}

.levelImg{
    height: 15px;
    margin: 0 1px;
}

.colInnerDiv{
    margin-top: 2px;
}

.attributeImage{
    width: 25px;
    margin: 0 1px;
    display: inline-flex;
}

#noResultText{
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}

#copyright{
    color: white;
    font-size: 10px;
    margin: 0;
}

.divCenter{
    text-align: center;
}