<ion-menu side="right" id="filtersMenu" [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title><p class="menuTitle" id="filtersTitle">Filters</p>
        <button ion-button class="filterTopButton" (click)="apply()">Apply</button>
        <button ion-button color="danger" class="filterTopButton" (click)="reset()">Reset</button>            
      </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <!-- Radio Buttons for view selection -->
      <p class="filterHeader">Sheet View</p>
      <ion-list radio-group [(ngModel)]="viewMode">
        <ion-item>
          <ion-label>Category View</ion-label>
          <ion-radio value="categoryView" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No Categories</ion-label>
          <ion-radio value="noCategories"></ion-radio>
        </ion-item>
      </ion-list>
        
      <!-- Menus for drop Downs -->
      <!-- Attributes Menu -->
      <ion-list>
        <button menuClose ion-item (click)="menuSwitch('attributes')">
          Set required properties  
          <ion-icon *ngIf="!this.dropDownShow.attributes" class="filterMenuIcon" name="arrow-dropdown"></ion-icon>
          <ion-icon *ngIf="this.dropDownShow.attributes" class="filterMenuIcon" name="arrow-dropup"></ion-icon>
        </button>

        <div *ngIf="this.dropDownShow.attributes">
          <ion-item>
            <ion-label>Into Stance</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.intoStance"></ion-checkbox>
          </ion-item>   
          <ion-item>
            <ion-label>Into Crouch</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.intoCrouch"></ion-checkbox>
          </ion-item>     
          <ion-item>
            <ion-label>Break Attack</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.breakAttack"></ion-checkbox>
          </ion-item>     
          <ion-item>
            <ion-label>Guard Impact</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.guardImpact"></ion-checkbox>
          </ion-item>     
          <ion-item>
            <ion-label>Unblockable Art</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.unblockableArt"></ion-checkbox>
          </ion-item>  
          <ion-item>
            <ion-label>Reversal Edge</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.reversalEdge"></ion-checkbox>
          </ion-item>     
          <ion-item>
            <ion-label>Soul Charge</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.soulCharge"></ion-checkbox>
          </ion-item>     
          <ion-item>
            <ion-label>Lethal Hit</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.lethalHit"></ion-checkbox>
          </ion-item>     
          <ion-item>
            <ion-label>Throw</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.throw"></ion-checkbox>
          </ion-item>     
        </div>
      </ion-list>
      
      <!-- Impact Menu -->
      <ion-list>
          <button menuClose ion-item (click)="menuSwitch('impact')">
            Impact
            <ion-icon *ngIf="!this.dropDownShow.impact" class="filterMenuIcon" name="arrow-dropdown"></ion-icon>
            <ion-icon *ngIf="this.dropDownShow.impact" class="filterMenuIcon" name="arrow-dropup"></ion-icon>
          </button>
  
          <div *ngIf="this.dropDownShow.impact">
            <!-- For Impact Min -->
            <ion-item> <!-- Top Part -->
              <ion-label>Min Threshold</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.impactMin"></ion-checkbox>    
            </ion-item>    
            <!-- Bottom Part -->
            <ion-item *ngIf="this.attributeSelection.impactMin"> 
              <div>
                <p class="filterNumTitle"><span [innerText]="this.numValSelection.impactMin"></span> Frames</p>
                <button ion-button class="filterTopButton" (click)="incrementNumVal('impactMin')">Plus</button>
                <button ion-button color="danger" class="filterTopButton" (click)="decrementNumVal('impactMin')">Minus</button>            
              </div>
            </ion-item>    

            <!-- For Impact Max -->
            <ion-item> <!-- Top Part -->
              <ion-label>Max Threshold</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.impactMax"></ion-checkbox>
            </ion-item>    
            <!-- Bottom Part -->
            <ion-item *ngIf="this.attributeSelection.impactMax">
              <div>
                <p class="filterNumTitle"><span [innerText]="this.numValSelection.impactMax"></span> Frames</p>
                <button ion-button class="filterTopButton" (click)="incrementNumVal('impactMax')">Plus</button>
                <button ion-button color="danger" class="filterTopButton" (click)="decrementNumVal('impactMax')">Minus</button>            
              </div>
            </ion-item>    
          </div>
        </ion-list>  
  
      <!-- Guard Menu -->
      <ion-list>
        <button menuClose ion-item (click)="menuSwitch('guard')">
          Guard
          <ion-icon *ngIf="!this.dropDownShow.guard" class="filterMenuIcon" name="arrow-dropdown"></ion-icon>
          <ion-icon *ngIf="this.dropDownShow.guard" class="filterMenuIcon" name="arrow-dropup"></ion-icon>
        </button>

        <div *ngIf="this.dropDownShow.guard">
          <ng-template #guardPositive>
            <ion-item>
              <ion-label>Positive</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.guardPositive"></ion-checkbox>
            </ion-item>
          </ng-template>

          <!-- Dummy for guardPositive -->
          <ion-item *ngIf="this.numValSelection.guardMax > 0 && this.attributeSelection.guardMax; else guardPositive" class="dummyFilter">
            <ion-label>Positive</ion-label>
            <ion-checkbox color="dark" disabled checked></ion-checkbox>
          </ion-item>

          <ng-template #guardNegative>
            <ion-item>
              <ion-label>Negative</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.guardNegative"></ion-checkbox>
            </ion-item>           
          </ng-template>

          <!-- Dummy for guardNegative -->
          <ion-item *ngIf="this.numValSelection.guardMin < 0 && this.attributeSelection.guardMin; else guardNegative" class="dummyFilter">
            <ion-label>Negative</ion-label>
            <ion-checkbox color="dark" disabled checked></ion-checkbox>
          </ion-item>
  
          <ion-item>
            <ion-label>Neutral</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.guardNeutral"></ion-checkbox>
          </ion-item>   

          <ion-item> <!-- Top Part -->
            <ion-label>Min Threshold</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.guardMin"></ion-checkbox>    
          </ion-item>    
          <!-- Bottom Part -->
          <ion-item *ngIf="this.attributeSelection.guardMin"> 
            <div>
              <p class="filterNumTitle"><span [innerText]="this.numValSelection.guardMin"></span> Frames</p>
              <button ion-button class="filterTopButton" (click)="incrementNumVal('guardMin')">Plus</button>
              <button ion-button color="danger" class="filterTopButton" (click)="decrementNumVal('guardMin')">Minus</button>            
            </div>
          </ion-item>    

          <ion-item> <!-- Top Part -->
            <ion-label>Max Threshold</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.guardMax"></ion-checkbox>
          </ion-item>    
          <!-- Bottom Part -->
          <ion-item *ngIf="this.attributeSelection.guardMax">
            <div>
              <p class="filterNumTitle"><span [innerText]="this.numValSelection.guardMax"></span> Frames</p>
              <button ion-button class="filterTopButton" (click)="incrementNumVal('guardMax')">Plus</button>
              <button ion-button color="danger" class="filterTopButton" (click)="decrementNumVal('guardMax')">Minus</button>            
            </div>
          </ion-item>       
        </div>
      </ion-list>  

      <!-- Hit Menu -->
      <ion-list>
        <button menuClose ion-item (click)="menuSwitch('hit')">
          Hit
          <ion-icon *ngIf="!this.dropDownShow.hit" class="filterMenuIcon" name="arrow-dropdown"></ion-icon>
          <ion-icon *ngIf="this.dropDownShow.hit" class="filterMenuIcon" name="arrow-dropup"></ion-icon>
        </button>

        <div *ngIf="this.dropDownShow.hit">
          <ion-item>
            <ion-label>Special</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.hitSpecial"></ion-checkbox>
          </ion-item>

          <ng-template #hitPositive>
            <ion-item>
              <ion-label>Positive</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.hitPositive"></ion-checkbox>
            </ion-item>  
          </ng-template>

          <!-- Dummy for hitPositive -->
          <ion-item *ngIf="this.numValSelection.hitMax > 0 && this.attributeSelection.hitMax; else hitPositive" class="dummyFilter">
            <ion-label>Positive</ion-label>
            <ion-checkbox color="dark" disabled checked></ion-checkbox>
          </ion-item>

          <ng-template #hitNegative>
            <ion-item>
              <ion-label>Negative</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.hitNegative"></ion-checkbox>
            </ion-item>    
          </ng-template>
          
          <!-- Dummy for hitNegative -->
          <ion-item *ngIf="this.numValSelection.hitMin < 0 && this.attributeSelection.hitMin; else hitNegative" class="dummyFilter">
            <ion-label>Negative</ion-label>
            <ion-checkbox color="dark" disabled checked></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Neutral</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.hitNeutral"></ion-checkbox>
          </ion-item>  

          <ion-item> <!-- Top Part -->
            <ion-label>Min Threshold</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.hitMin"></ion-checkbox>    
          </ion-item>    
          <!-- Bottom Part -->
          <ion-item *ngIf="this.attributeSelection.hitMin"> 
            <div>
              <p class="filterNumTitle"><span [innerText]="this.numValSelection.hitMin"></span> Frames</p>
              <button ion-button class="filterTopButton" (click)="incrementNumVal('hitMin')">Plus</button>
              <button ion-button color="danger" class="filterTopButton" (click)="decrementNumVal('hitMin')">Minus</button>            
            </div>
          </ion-item>    

          <ion-item> <!-- Top Part -->
            <ion-label>Max Threshold</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.hitMax"></ion-checkbox>
          </ion-item>    
          <!-- Bottom Part -->
          <ion-item *ngIf="this.attributeSelection.hitMax">
            <div>
              <p class="filterNumTitle"><span [innerText]="this.numValSelection.hitMax"></span> Frames</p>
              <button ion-button class="filterTopButton" (click)="incrementNumVal('hitMax')">Plus</button>
              <button ion-button color="danger" class="filterTopButton" (click)="decrementNumVal('hitMax')">Minus</button>            
            </div>
          </ion-item>             
        </div>
      </ion-list>  

      <!-- CounterHit Menu -->
      <ion-list>
          <button menuClose ion-item (click)="menuSwitch('counterHit')">
            Counter Hit
            <ion-icon *ngIf="!this.dropDownShow.counterHit" class="filterMenuIcon" name="arrow-dropdown"></ion-icon>
            <ion-icon *ngIf="this.dropDownShow.counterHit" class="filterMenuIcon" name="arrow-dropup"></ion-icon>
          </button>
  
          <div *ngIf="this.dropDownShow.counterHit">
            <ion-item>
              <ion-label>Special</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.counterHitSpecial"></ion-checkbox>
            </ion-item>   

            <ng-template #counterHitPositive>
              <ion-item>
                <ion-label>Positive</ion-label>
                <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.counterHitPositive"></ion-checkbox>
              </ion-item>  
            </ng-template>

            <!-- Dummy for hitPositive -->
            <ion-item *ngIf="this.numValSelection.counterHitMax > 0 && this.attributeSelection.counterHitMax; else counterHitPositive" class="dummyFilter">
              <ion-label>Positive</ion-label>
              <ion-checkbox color="dark" disabled checked></ion-checkbox>
            </ion-item>
            
            <ng-template #counterHitNegative>
              <ion-item>
                <ion-label>Negative</ion-label>
                <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.counterHitNegative"></ion-checkbox>
              </ion-item>       
            </ng-template>

            <!-- Dummy for hitNegative -->
            <ion-item *ngIf="this.numValSelection.counterHitMin < 0 && this.attributeSelection.counterHitMin; else counterHitNegative" class="dummyFilter">
              <ion-label>Negative</ion-label>
              <ion-checkbox color="dark" disabled checked></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>Neutral</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.numBoolSelection.counterHitNeutral"></ion-checkbox>
            </ion-item>   

            <ion-item> <!-- Top Part -->
              <ion-label>Min Threshold</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.counterHitMin"></ion-checkbox>    
            </ion-item>    
            <!-- Bottom Part -->
            <ion-item *ngIf="this.attributeSelection.counterHitMin"> 
              <div>
                <p class="filterNumTitle"><span [innerText]="this.numValSelection.counterHitMin"></span> Frames</p>
                <button ion-button class="filterTopButton" (click)="incrementNumVal('counterHitMin')">Plus</button>
                <button ion-button color="danger" class="filterTopButton" (click)="decrementNumVal('counterHitMin')">Minus</button>            
              </div>
            </ion-item>    
  
            <ion-item> <!-- Top Part -->
              <ion-label>Max Threshold</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="this.attributeSelection.counterHitMax"></ion-checkbox>
            </ion-item>    
            <!-- Bottom Part -->
            <ion-item *ngIf="this.attributeSelection.counterHitMax">
              <div>
                <p class="filterNumTitle"><span [innerText]="this.numValSelection.counterHitMax"></span> Frames</p>
                <button ion-button class="filterTopButton" (click)="incrementNumVal('counterHitMax')">Plus</button>
                <button ion-button color="danger" class="filterTopButton" (click)="decrementNumVal('counterHitMax')">Minus</button>            
              </div>
            </ion-item>               
          </div>
        </ion-list>  
  
    </ion-content>
</ion-menu>  

<ion-nav #content swipeBackEnabled="false"></ion-nav>